.disclosure-content.is-hidden {
  display: none;
}

.rotate {
  transform: rotate(-90deg);
}

.hero-body {
  padding-bottom: 0.5rem;
}

.bottom-definition-p {
  padding-bottom: 1.5rem;

}

.dictionary-word {
  color: aquamarine;
}

.field {
  width: 100%;
}

.control {
  position: relative;
}

#clear-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 1.2rem;
}

#clear-button .fas {
  color: #3273dc;
  font-size: 1.2rem;
}
